################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Musoq.Console.Client/obj
/Musoq.Console.Client/bin
/Musoq.Console.Client/libs/Plugins/*/Musoq.Schema.dll
/Musoq.Console.Client/libs/Plugins/*/Musoq.Schema.pdb
/Musoq.Console.Client/libs/Plugins/*/Musoq.Plugins.dll
/Musoq.Console.Client/libs/Plugins/*/Musoq.Plugins.pdb
