################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Musoq.Console.Client/obj
/Musoq.Console.Client/bin
